<div class="container text-center">
  <div *ngIf="recentArticles$ | async as recentArticles; else loading">
    <div class="row">
      <div *ngFor="let article of recentArticles; let i = index" class="col-sm-6">
          <div>
            <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
            <h3><a [routerLink]="['../' + article.id]">{{article.title}}</a></h3>
            <p>{{article.headline}}</p>
            <p><ngb-rating [rate]="6" [readonly]="true"></ngb-rating></p>
          </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  Loading articles...
</ng-template><p>

