<ngb-carousel>
    <ng-template ngbSlide>
      <img src="assets/images/carousel-1.jpg" alt="Headline 1">
      <div class="carousel-caption">
          <h3>Bright Sparks!</h3>
          <p>We need your ideas for annual Pressford hackathon!</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="assets/images/carousel-2.jpg" alt="Headline 2">
      <div class="carousel-caption">
          <h3>Data Science</h3>
          <p>What is Data Science? A beginners guide to Data Science</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="assets/images/carousel-3.jpg" alt="Headline 3">
      <div class="carousel-caption">
          <h3>Putting our finger on it</h3>
          <p>Pressford helping more customers to transform their business</p>
      </div>
  </ng-template>
</ngb-carousel>
