<div class="card-body">
  <form novalidate
        (ngSubmit)="onSubmit(articleForm.value, articleForm.valid)"
        [formGroup]="articleForm">

    <div class="card">
      <div class="card-header">
        New Article
      </div>
      <div class="card-body">
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
                for="titleId">Title</label>
          <div class="col-md-8">
            <input class="form-control"
                  id="titleId"
                  type="text"
                  placeholder="Title (required)"
                  formControlName="title"
                  [ngClass]="{ 'is-invalid': submitted && formControls.title.errors }" />

                  <div *ngIf="submitted && !formControls.title.valid" class="invalid-feedback">
                    <div>Title is required</div>
                  </div>
          </div>
        </div>
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
                for="headlineId">Headline</label>
          <div class="col-md-8">
            <input class="form-control"
                  id="headlineId"
                  type="text"
                  placeholder="Headline (required)"
                  formControlName="headline"
                  [ngClass]="{ 'is-invalid': submitted && formControls.headline.errors }"/>

                  <div *ngIf="submitted && !formControls.headline.valid" class="invalid-feedback">
                    <div>Headline is required</div>
                  </div>
          </div>
        </div>

        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
                for="bodyId">Body</label>
          <div class="col-md-8">
            <angular-editor formControlName="body" [config]="editorConfig"></angular-editor>

            <div *ngIf="submitted && !formControls.body.valid" class="invalid-feedback d-block">
              <div>Body is required</div>
            </div>

          </div>
        </div>

        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
          for="publicationDateId">Publish date</label>
          <div class="input-group col-md-8">
            <input class="form-control"
              placeholder="yyyy-mm-dd"
              name="dp"
              ngbDatepicker
              #d="ngbDatepicker"
              id="publishDateId"
              formControlName="publicationDate">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar"
              (click)="d.toggle()"
              type="button">
                <i class="far fa-calendar-alt fa-2x"></i>
              </button>
            </div>
          </div>
        </div>

        <!--
        <div class="form-group row mb-3">
          <label class="col-md-2 col-form-label"
                for="imageUriId">Image</label>
          <div class="col-md-8 mb-3">
            <div class="input-group">
              <div class="custom-file">
               <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
               <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
             </div>
           </div>
          </div>
        </div>-->

        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
                for="imageUriId">Image</label>
          <div class="col-md-8">
            <input class="form-control"
              id="imageUriId"
              type="text"
              placeholder="Image"
              formControlName="imageUri"
              readonly="true"/>
          </div>
        </div>

        <div class="form-group row mb-2">
          <div class="offset-md-2 col-md-8">
            <button class="btn btn-outline-primary"><i class="far fa-save mr-2"></i>Add</button>
            <div *ngIf="submitted && !articleForm.valid" class="invalid-feedback d-block">
              <div>Form invalid</div>
            </div>
          </div>
        </div>

      </div>
    </div>
</form>
