<div class="mt-3">
      <h3 class="text-center">Events</h3>
      <p class="text-center">Pressford Consulting Exec Roadshow<br/> Book your place now! </p>
      <ul class="list-group">
        <li class="list-group-item"><i class="far fa-calendar mr-2"></i>24th July - <span class="label">London</span></li>
        <li class="list-group-item"><i class="far fa-calendar mr-2"></i>31st July - <span class="label">Glasgow</span></li>
        <li class="list-group-item"><i class="far fa-calendar mr-2"></i>7th August - <span class="label">Birmingham</span></li>
      </ul>

      <div class="mt-3">
        <div class="row text-center">
          <div class="col-sm-4">
            <div class="thumbnail">
              <img class="img-thumbnail" src="assets/images/headline-4.jpg" alt="Headline 4" width="300" height="225">
                  <p><strong>New starter FAQ</strong></p>
                  <p>Friday 12th Jan 2019</p>
                  <button class="btn" data-toggle="modal" data-target="#myModal">More</button>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="thumbnail" class="text-center">
              <img class="img-thumbnail" src="assets/images/headline-5.jpg" alt="" width="300" height="225">
                  <p><strong>Stronger working together</strong></p>
                  <p>Mon 1st Feb 2019</p>
                  <button class="btn" data-toggle="modal" data-target="#myModal">More</button>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="thumbnail" class="text-center">
              <img class="img-thumbnail" src="assets/images/headline-6.jpg" alt="" width="300" height="225">
                  <p><strong>Are you organised?</strong></p>
                  <p>Mon 11th Feb 2019</p>
                  <button class="btn" data-toggle="modal" data-target="#myModal">More</button>
            </div>
          </div>
        </div>
    </div>
  </div>
